.flexRow--sidebar {
  margin-top: 5.84em;
}

.flexRow--goToCheckout {
  background-color: #fff;
}

/* M, L */
@media screen and (min-width: 40em) and (max-width: 80em) {
  .flexCol--sidebarContent {
    min-width: 16em;
    max-width: 16em;
  }
}

/* L+ */
@media screen and (min-width: 64em) {
  .flexRow--sidebar {
    margin-top: 7em;
  }
}


/* XL+ */
@media screen and (min-width: 80em) {
  .flexCol--sidebarContent {
    min-width: 24em;
    max-width: 24em;
  }
}
