
/* M */
@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .summary {
    width: 21.4em;
  }
  .continue2 {
    width: 18.4em;
  }
}

/* L */
@media screen and (min-width: 64em) and (max-width: 79.9em) {
  .summary {
    width: 20em;
    max-width: 20em;
    padding-top: 7em;
  }
}

/* L+ */
@media screen and (min-width: 64em) {
  .continue1 {
    width: 18.4em;
  }
}

/* XL+ */
@media screen and (min-width: 80em) {
  .list {
    margin-right: 4em;
  }

  .summary {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 7em;
    max-width: 26em;
  }
}